@charset "utf-8";
/* CSS Document */
h1{
	text-align: center;
	color: black;
	text-shadow: 2px 2px 4px #ffff;
	font-family: 'Kalam', cursive;
	font-size: 36px;
}
h2{align-content: center;
	color: black;
	text-shadow: 2px 2px 4px #ffff;
	font-family: 'Kalam', cursive;
	font-size: 24px;
	
}
p.uno,.dos,.tres,.cuatro,.cinco {text-align: justify;
	color:white;
	font-family: 'Kalam', cursive;
	font-size: 20px;
}

body{
	background-image:url("img/geometric-g1d00cf29f_1280\ -\(2\).jpg");
	background-position: center;	
}

div.centro{
	margin-left: auto;
	margin-right: auto;
}

div.gallery {
  margin: 2px;
  border: 0px solid #ccc;
  float:left;
  width: 300px;
}

div.gallery:hover {
  border:0px;
}

div.gallery img {
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: aliceblue;
  font-family: 'Kalam', cursive;
	font-size: 20px;
}



